@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .nav {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .grid-content-tile {
    width: 40%;
  }
  .header-content {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  .grid-content-tile {
    width: 15%;
  }
  .header-title {
    font-size: 100px;
  }
  .header-content {
    font-size: 40px;
    line-height: 60px;
  }
  .nav-link p {
    font-size: 40px;
  }

  .footer .footer-text {
    font-size: 40px;
  }
}
